.wrapper {
    width: 90%;
    margin: 0 5%;

}

/* ===================
    ALL: Git Chess Theme
   =================== */

.header-container {
    padding: 40px 0;
    header {
        width: 590px;
        margin: 0 auto;
        text-align: center;
    }
    h1.title {
        margin: 55px 0 0 0;
    }
}

.footer-container,
.main aside {
    background-color: $lighterGrey;

}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main aside {
    padding: 0px 5% 10px;
}

.footer-container footer {
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}
