
// General Stuff
body {
    font: 14px/22px $bodyFont;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
}

a {
	color: $red;
	text-decoration: none;
	&:hover {
		color: $lightRed;
	}
}

// Specific Stuff
.title {
    color: $red;
    font-family: $titleFont;
    font-size: 6em;
    line-height: 1em;
}


.main article h1 {
    font-size: 2em;
}
