@font-face {
    font-family: Atreyu;
    src: url(fonts/Atreyu.otf);
    font-weight:400;
}

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

// Headers
$titleFont: Atreyu;
$headerFont: 'Roboto Slab', serif;
$bodyFont: 'Merriweather Sans', sans-serif;

// Colors
$darkBlue: #2c3e50;
$lighterGrey: #ecf0f1;
$red: #C0392B;
$lightRed: #e29f98;
$darkRed: #591d16;